<html>
	<br>
	<br>
	<center> <%= image_tag("male-shadow-fill-circle-512.png", height: '150', width: '150') %> </center>
	<center><h5><%= @user.email%></h5></center>
	<br>
	<br>
        
        <body>
        	
        </body>




        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Bug Hunter</h5>
                <p class="grey-text text-lighten-4">Thank you for using our app!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/mitchcail/Bug_tracker">Github Link</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Bug Hunter 2016
            </div>
          </div>
        </footer>
</html>
