<div class="container">

    <h1>Viewing all tickets</h1>
    <% @tickets.each do | ticket |%>

         <div class="divider"></div>
         <br>

        <div class="row">
            <div class="col s12 m8 l8">
              <div class="card white hoverable">
                <div class="card-content black-text">
                  <span class="card-title"><%=ticket.name %></span>
                  <p><%=ticket.description %></p>
                </div>
                <div class="card-action">
                  <%= link_to "view", ticket %>
                  
                </div>
              </div>
            </div>
          </div>

    <% end%>



</div>